


  <form [formGroup] = "mainForm" (submit) = "onRegister()">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Personal Information</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <mat-form-field appearance="outline">
        <mat-label>Employee Number</mat-label>

        <input class="txtInput" type="text" matInput
              formControlName="EmployeeNumber" name="EmployeeNumber"
              placeholder="Employee Number" >

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>

        <input class="txtInput" type="text" matInput
              formControlName="LastName" name="LastName"
              placeholder="Last name" >

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>

        <input class="txtInput" type="text" matInput
              formControlName="FirstName" name="FirstName"
              placeholder="First name" >

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Middle Initial</mat-label>

        <input class="txtInput" type="text" matInput
              formControlName="MI" name="MI"
              placeholder="M.I." >

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Name Extension</mat-label>

        <input class="txtInput" type="text" matInput
        formControlName="NameExtention" name="NameExtention"
               placeholder="Name Extension" >

      </mat-form-field>

      <mat-form-field appearance="outline">

        <mat-label>Birthdate</mat-label>
        <input class="txtInput" matInput [matDatepicker]="picker"
        formControlName="birthdate" name="birthdate"
        placeholder="MM/DD/YYYY"   (focus)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>

        <input class="txtInput" type="text" matInput
        formControlName="age" name="age"
               placeholder="Age" >

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Place of Birth</mat-label>

        <input class="txtInput" type="text" matInput
        formControlName="PlaceOfBirth" name="PlaceOfBirth"
               placeholder="Place of Birth" >

      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" name="gender">
            <mat-option value="one">Male</mat-option>
            <mat-option value="two">Female</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Civil Status</mat-label>
          <mat-select formControlName="CivilStatus" name="CivilStatus">
            <mat-option value="one">Single</mat-option>
            <mat-option value="two">Married</mat-option>
            <mat-option value="three">Divorced</mat-option>
            <mat-option value="four">Separated</mat-option>
            <mat-option value="four">Widowed</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Height</mat-label>

        <input class="txtInput" type="text" matInput
        formControlName="height" name="height"
               placeholder="Height" >

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Weight</mat-label>

        <input class="txtInput" type="text" matInput
        formControlName="weight" name="weight"
               placeholder="Weight">

      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Blood Type</mat-label>
          <mat-select formControlName="BloodType" name="BloodType">
            <mat-option value="one">A</mat-option>
            <mat-option value="two">B</mat-option>
            <mat-option value="three">AB</mat-option>
            <mat-option value="four">O</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>GSIS ID No.</mat-label>
        <input class="txtInput" matInput
        formControlName="gsis" name="gsis"
               placeholder="Ex. xxx-xxx" >
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>PAG-IBIG ID No.</mat-label>
        <input class="txtInput" matInput
        formControlName="pagibig" name="pagibig"
               placeholder="Ex. xxx-xxx"  >
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>PHILHEALTH No.</mat-label>
        <input class="txtInput" matInput
        formControlName="philHealth" name="philHealth"
               placeholder="Ex. xxx-xxx" >
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>SSS No.</mat-label>
        <input class="txtInput" matInput
        formControlName="sss" name="sss"
               placeholder="Ex. xxx-xxx"  >
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>TIN No.</mat-label>
        <input class="txtInput" matInput
        formControlName="tin" name="tin"
               placeholder="Ex. xxx-xxx"  >
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Citizenship</mat-label>
        <input class="txtInput" matInput
        formControlName="citizenship" name="citizenship"
               placeholder="Ex. xxx-xxx" >
      </mat-form-field><br>

      <!--Resident Address-->

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input class="txtInput" matInput
        formControlName="r_zipCode" name="r_zipCode"
               placeholder="Ex. xxx-xxx">

      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>House/Block/Lot No.</mat-label>
        <input class="txtInput" matInput
        formControlName="r_lotNo" name="r_lotNo"
               placeholder="Ex. xxx-xxx">

      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Street</mat-label>
        <input class="txtInput" matInput
        formControlName="r_street" name="r_street"
               placeholder="Ex. xxx-xxx">
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Subdivision/Village</mat-label>
        <input class="txtInput" matInput
        formControlName="r_village" name="r_village"
               placeholder="Ex. xxx-xxx">
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Barangay</mat-label>
        <input class="txtInput" matInput
        formControlName="r_brgy" name="r_brgy"
               placeholder="Ex. xxx-xxx">

      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>City/Municipality</mat-label>
        <input class="txtInput" matInput
        formControlName="r_city" name="r_city"
               placeholder="Ex. xxx-xxx">
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Province</mat-label>
        <input class="txtInput" matInput
        formControlName="r_province" name="r_province"
               placeholder="Ex. xxx-xxx">

      </mat-form-field><br>

      <!--Permanent Address-->

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input class="txtInput" matInput
        formControlName="p_zipCode" name="p_zipCode"
               placeholder="Ex. xxx-xxx">

      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>House/Block/Lot No.</mat-label>
        <input class="txtInput" matInput
        formControlName="p_LotNo" name="p_LotNo"
               placeholder="Ex. xxx-xxx">

      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Street</mat-label>
        <input class="txtInput" matInput
        formControlName="p_street" name="p_street"
               placeholder="Ex. xxx-xxx">
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Subdivision/Village</mat-label>
        <input class="txtInput" matInput
        formControlName="p_village" name="p_village"
               placeholder="Ex. xxx-xxx">
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Barangay</mat-label>
        <input class="txtInput" matInput
        formControlName="p_brgy" name="p_brgy"
               placeholder="Ex. xxx-xxx">

      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>City/Municipality</mat-label>
        <input class="txtInput" matInput
        formControlName="p_city" name="p_city"
               placeholder="Ex. xxx-xxx">
      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Province</mat-label>
        <input class="txtInput" matInput
        formControlName="p_province" name="p_province"
               placeholder="Ex. xxx-xxx">

      </mat-form-field><br>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Telephone No.</mat-label>
        <input class="txtInput" matInput
        formControlName="TelNo" name="TelNo"
               placeholder="Ex. xxx-xxx">

      </mat-form-field><br>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Mobile No.</mat-label>
        <input class="txtInput" matInput
        formControlName="MobileNo" name="MobileNo"
               placeholder="Ex. xxx-xxx">

      </mat-form-field><br>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Email</mat-label>
        <input class="txtInput" type="email" matInput
        formControlName="email" name="email"
               placeholder="Ex. pat@example.com">

      </mat-form-field>

      <mat-form-field class="txtField" appearance="outline">
        <mat-label>Alternate Email</mat-label>
        <input class="txtInput" type="email" matInput
        formControlName="altEmail" name="altEmail"
               placeholder="Ex. pat@example.com">

      </mat-form-field>

      <mat-form-field class="loginField" appearance="outline">
        <mat-label>Password</mat-label>
        <input class="loginInput" matInput
        formControlName="password" name="password"
        [type]="hide ? 'password' : 'text'" placeholder="Password"  >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <!--<mat-icon matSuffix>email</mat-icon>-->
      </mat-form-field>

      <mat-form-field class="loginField" appearance="outline">
        <mat-label>Re-enter Password</mat-label>
        <input class="loginInput" matInput
        formControlName="reEnterPassword" name="reEnterPassword"
        [type]="hide ? 'password' : 'text'" placeholder="Password" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <!--<mat-icon matSuffix>email</mat-icon>-->
      </mat-form-field>


    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>



  <mat-card>




    <mat-card-header>
      <mat-card-title>Educational background</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div formArrayName="elemForm">
        <div *ngFor= "let control of mainForm.controls['elemForm']['controls']; let i = index " [formGroupName]= "i">

          <mat-form-field appearance="outline">
            <mat-label>Name of School (write in full)</mat-label>

            <input class="txtInput" type="text" matInput
                  formControlName="nameOfSchool" name="nameOfSchool"
                  placeholder="Last name" >

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Basic Education/Degree/Course (write in full)</mat-label>

            <input class="txtInput" type="text" matInput
                  formControlName="course" name="course"
                  >

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>From</mat-label>

            <input class="txtInput" type="text" matInput
                  formControlName="fromYear" name="fromYear"
                   >

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>To</mat-label>

            <input class="txtInput" type="text" matInput
                  formControlName="toYear" name="toYear"
                   >

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Highest Level/Units Earned (if not graduated)</mat-label>

            <input class="txtInput" type="text" matInput
                  formControlName="highestLevel" name="highestLevel"
                   >

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Year Graduate</mat-label>

            <input class="txtInput" type="text" matInput
                  formControlName="yearGraduated" name="yearGraduated"
                   >

          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Scholarship/Academic Honors Received</mat-label>

            <input class="txtInput" type="text" matInput
                  formControlName="honors" name="honors" ngModel
                   >

          </mat-form-field>

          <button mat-flat-button color="warn" (click)="removedElemData(i)">Removed</button>

        </div>

      </div>


    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="addElemData()">Add</button>
    </mat-card-actions>


 </mat-card>





  <button mat-flat-button color="primary" type="submit">Submit</button>
</form>

